* {
    font-family: "Montserrat", sans-serif;

    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: pink;
    overflow-x: hidden;
}

#app {
    background-image: url("../../data/sakura.png");
    background-repeat: repeat;

    position: relative;

    padding-bottom: 250px;
}

.title {
    display: flex;
    justify-content: center;

    h1 {
        font-size: 50px;

        background-color: white;
        border: 5px solid black;
        padding: 15px 15px 15px 15px;

        @media (max-width: 1200px) {
            font-size: 25px
        }
    }
}

.home.container {
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    position: relative;
    z-index: 1;

    @media (max-width: 1200px) {
        width: 400px;
        flex-direction: column;

        align-items: center;

        .card:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    @media (min-width: 1200px) {
        .card:nth-child(-n+2) {
            margin-top: 50px;
        }
    
        .card:nth-child(n+3) {
            margin-top: 25px;
        }
    
        .card:nth-last-child(-n+2) {
            margin-bottom: 50px;
        }
    }
}