.audio-btn {
  position: relative;
  width: 80px;
  height: 80px;

  @media (max-width: 1200px) {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  border-radius: 50%;
  border-color: transparent;
  background-color: white;

  font-size: 36px;

  &.paused::after {
    animation: spin 2s linear 0s infinite;
    border-color: green;
    border-style: dashed;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: -2px;
    left: -2px;
    border: 3px solid #C70025;
    border-radius: 50%;

    transition-duration: 0.35s;
  }

  &:hover {
    cursor: pointer;
    &::after {
      border-style: dotted;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}