.audio-btn {
  position: relative;
  width: 80px;
  height: 80px;

  border-radius: 50%;
  border-color: transparent;
  background-color: white;

  font-size: 36px;

  &.paused::after {
    animation: spin 0.6s linear 0s infinite;
    border-color: green;
    border-style: dotted;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: -2px;
    left: -2px;
    border: 3px solid #C70025;
    border-radius: 50%;

    transition-duration: 0.5s;
  }

  &:hover {
    cursor: pointer;
  }
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}